
@import "tailwindcss/preflight";

/* Thay thế @tailwind components */
@import "tailwindcss/components"; /* nếu bạn dùng components riêng */

/* Thay thế @tailwind utilities */
@import "tailwindcss/utilities";